aiodns @ file:///C:/miniconda3/conda-bld/aiodns_1762185022015/work
aiohappyeyeballs @ file:///C:/b/abs_f806x82huz/croot/aiohappyeyeballs_1755769855628/work
aiohttp @ file:///C:/miniconda3/conda-bld/aiohttp_1762519774002/work
aiosignal @ file:///C:/b/abs_84ej696pud/croot/aiosignal_1755870823775/work
alabaster @ file:///C:/miniconda3/conda-bld/alabaster_1764709288682/work
altair==6.0.0
annotated-types==0.7.0
anyio==4.12.0
arrow @ file:///C:/miniconda3/conda-bld/arrow_1761560616272/work
astroid @ file:///C:/miniconda3/conda-bld/astroid_1759355354267/work
asttokens @ file:///C:/b/abs_9662ywy9fp/croot/asttokens_1743630464377/work
asyncssh @ file:///C:/miniconda3/conda-bld/asyncssh_1763120305059/work
atomicwrites==1.4.0
attrs @ file:///C:/miniconda3/conda-bld/attrs_1762356954445/work
autopep8 @ file:///croot/autopep8_1708962882016/work
babel @ file:///C:/miniconda3/conda-bld/babel_1764159347172/work
backports.tarfile @ file:///C:/b/abs_c0eaq29_rf/croot/backports.tarfile_1728485199412/work
bcrypt @ file:///C:/miniconda3/conda-bld/bcrypt_1762875140137/work
beautifulsoup4 @ file:///C:/miniconda3/conda-bld/beautifulsoup4-split_1764159485006/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black @ file:///C:/miniconda3/conda-bld/black_1764168380372/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.9.0
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961370587/work
cachetools==6.2.2
cattrs @ file:///C:/miniconda3/conda-bld/cattrs_1761729144717/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1762976168352/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792265/work
chardet @ file:///C:/b/abs_3f08pnpj_d/croot/chardet_1755516293556/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761745005832/work
click @ file:///C:/miniconda3/conda-bld/click_1764332359426/work
cloudpickle @ file:///C:/miniconda3/conda-bld/cloudpickle_1764930545936/work
colorama @ file:///C:/ci_311/colorama_1676422310965/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119240032/work
comtypes==1.4.13
cookiecutter @ file:///C:/b/abs_6ak0be77em/croot/cookiecutter_1751313989831/work
cryptography @ file:///C:/miniconda3/conda-bld/cryptography-split_1761931985249/work
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421657701/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341249812/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///C:/miniconda3/conda-bld/dill_1760096871596/work
distro==1.9.0
docstring-to-markdown @ file:///C:/miniconda3/conda-bld/docstring-to-markdown_1758626864853/work
docutils @ file:///C:/miniconda3/conda-bld/docutils_1761746638832/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061250618/work
fastjsonschema @ file:///C:/miniconda3/conda-bld/python-fastjsonschema_1763718732564/work
filetype==1.2.0
flake8 @ file:///C:/b/abs_11zrixwsv1/croot/flake8_1726157202790/work
frozenlist @ file:///C:/miniconda3/conda-bld/frozenlist_1761062036738/work
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-genai==1.55.0
google-generativeai==0.8.5
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.71.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
idna @ file:///C:/miniconda3/conda-bld/idna_1761912044050/work
imagesize @ file:///C:/ci_311/imagesize_1676431905616/work
importlib_metadata @ file:///C:/miniconda3/conda-bld/importlib_metadata-suite_1763996637804/work
inflection==0.5.1
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel @ file:///C:/miniconda3/conda-bld/ipykernel_1762946093310/work
ipython @ file:///C:/miniconda3/conda-bld/ipython_1762789323276/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
isort @ file:///C:/miniconda3/conda-bld/isort_1760089006072/work
jaraco.classes @ file:///C:/b/abs_6erueoob1v/croot/jaraco.classes_1755516340851/work
jaraco.context @ file:///C:/b/abs_6f48xbyztf/croot/jaraco.context_1728505024809/work
jaraco.functools @ file:///C:/b/abs_a1jv6v_pzp/croot/jaraco.functools_1740408129620/work
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
jellyfish @ file:///C:/miniconda3/conda-bld/jellyfish_1764243797758/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
jiter==0.12.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema @ file:///C:/miniconda3/conda-bld/jsonschema_1762459313135/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788559143/work
jupyter_client @ file:///C:/miniconda3/conda-bld/jupyter_client_1762943100278/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588344213/work
jupyterlab_pygments @ file:///C:/b/abs_d5alfet8m6/croot/jupyterlab_pygments_1741124274578/work
keyring @ file:///C:/miniconda3/conda-bld/keyring_1763637200543/work
langchain==1.1.3
langchain-core==1.1.3
langchain-google-genai==4.0.0
langchain-openai==1.1.1
langgraph==1.0.4
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.5
langgraph-sdk==0.2.15
langsmith==0.4.59
lsprotocol @ file:///C:/miniconda3/conda-bld/lsprotocol_1759828550530/work/packages/python
markdown-it-py @ file:///C:/b/abs_3espcrdl35/croot/markdown-it-py_1756299213703/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779272071/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdurl @ file:///C:/miniconda3/conda-bld/mdurl_1758552226563/work
mistune @ file:///C:/b/abs_77yql3poyz/croot/mistune_1741124004410/work
more-itertools @ file:///C:/miniconda3/conda-bld/more-itertools_1761121550816/work
multidict @ file:///C:/miniconda3/conda-bld/multidict_1760566726284/work
mypy-extensions @ file:///C:/b/abs_8f7xiidjya/croot/mypy_extensions_1695131051147/work
narwhals==2.13.0
nbclient @ file:///C:/b/abs_a09c4t3h8x/croot/nbclient_1741124030330/work
nbconvert @ file:///C:/b/abs_c27_60dzt8/croot/nbconvert-meta_1741191385337/work
nbformat @ file:///C:/b/abs_c2jkw46etm/croot/nbformat_1728050303821/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
numpy==2.3.5
numpydoc @ file:///C:/b/abs_e63bcy53_z/croot/numpydoc_1750958653347/work
openai==2.11.0
orjson==3.11.5
ormsgpack==1.12.0
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049096285/work
pandas==2.3.3
pandocfilters @ file:///C:/miniconda3/conda-bld/pandocfilters_1756977624481/work
parso @ file:///C:/miniconda3/conda-bld/parso_1762781926029/work
pathspec @ file:///C:/miniconda3/conda-bld/pathspec_1761820738044/work
pexpect @ file:///C:/miniconda3/conda-bld/pexpect_1762535955307/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==12.0.0
platformdirs @ file:///C:/miniconda3/conda-bld/platformdirs_1762356607961/work
pluggy @ file:///C:/b/abs_dfec_m79vo/croot/pluggy_1733170145382/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745034319/work
propcache @ file:///C:/miniconda3/conda-bld/propcache_1765457294502/work
proto-plus==1.26.1
protobuf==5.29.5
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896536656/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067065603/work
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.11
pycares @ file:///C:/b/abs_b36fcwt8zj/croot/pycares_1756217945340/work
pycodestyle @ file:///C:/b/abs_9bj6ihy3hn/croot/pycodestyle_1726150314067/work
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496060165/work
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
pydocstyle @ file:///C:/ci_311/pydocstyle_1678402028085/work
pydub==0.25.1
pyflakes @ file:///C:/b/abs_b6t1aazq2e/croot/pyflakes_1708963020907/work
PyGithub @ file:///C:/miniconda3/conda-bld/pygithub_1762271606240/work
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431425708/work
PyJWT @ file:///C:/miniconda3/conda-bld/pyjwt_1764332323951/work
pylint @ file:///C:/b/abs_6dheb4r34g/croot/pylint_1756473040471/work
pylint-venv @ file:///C:/b/abs_3f6p_17zia/croot/pylint-venv_1709837680309/work
pyls-spyder==0.4.0
PyNaCl @ file:///C:/miniconda3/conda-bld/pynacl_1758892099823/work
pyparsing==3.2.5
pypiwin32==223
PyQt5==5.15.11
PyQt5_sip @ file:///C:/miniconda3/conda-bld/pyqt-split_1764009083708/work/pyqt_sip
PyQtWebEngine==5.15.7
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753028158/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv==1.2.1
python-lsp-black @ file:///C:/b/abs_56xq_70uqy/croot/python-lsp-black_1744023225294/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-ruff @ file:///C:/miniconda3/conda-bld/python-lsp-ruff_1759832197807/work
python-lsp-server @ file:///C:/miniconda3/conda-bld/python-lsp-server_1759829146265/work
python-slugify @ file:///C:/b/abs_fdwjv2ltdf/croot/python-slugify_1756292277346/work
pytokens @ file:///C:/miniconda3/conda-bld/pytokens_1764151938874/work
pytoolconfig @ file:///C:/b/abs_f2j_xsvrpn/croot/pytoolconfig_1701728751207/work
pyttsx3==2.99
pytz==2025.2
pyuca @ file:///C:/b/abs_c4xy4agr42/croot/pyuca_1726251471052/work
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pywin32-ctypes @ file:///C:/b/abs_2cfx5l4nvi/croot/pywin32-ctypes_1709340246092/work
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465512847/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375608224/work
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qstylizer @ file:///C:/ci_311/qstylizer_1678502012152/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl
QtAwesome @ file:///C:/b/abs_f3usq20nxv/croot/qtawesome_1744810809443/work
qtconsole @ file:///C:/miniconda3/conda-bld/qtconsole_1758748653751/work
QtPy @ file:///C:/miniconda3/conda-bld/qtpy_1757531228141/work
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536905217/work
regex==2025.11.3
requests @ file:///C:/miniconda3/conda-bld/requests_1762359611410/work
requests-toolbelt==1.0.0
rich @ file:///C:/miniconda3/conda-bld/rich_1760375664496/work
roman-numerals-py @ file:///C:/b/abs_c6xpj9atdr/croot/roman-numerals-py_1744666293821/work
rope @ file:///C:/miniconda3/conda-bld/rope_1762431492505/work
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366642821/work
rsa==4.9.1
rtree @ file:///C:/b/abs_66imkwbe1d/croot/rtree_1755874884341/work
ruff @ file:///C:/b/abs_6dm5slwq6g/croot/ruff_1750775626108/work
scipy==1.16.3
sip @ file:///C:/b/abs_f6ow8vlbb7/croot/sip_1756224172742/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
smmap==5.0.2
sniffio==1.3.1
snowballstemmer @ file:///C:/b/abs_d7mwab58nt/croot/snowballstemmer_1756709980754/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
sounddevice==0.5.3
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
SpeechRecognition==3.14.4
Sphinx @ file:///C:/miniconda3/conda-bld/sphinx_1764939905523/work
sphinxcontrib-applehelp @ file:///croot/sphinxcontrib-applehelp_1744721330488/work
sphinxcontrib-devhelp @ file:///croot/sphinxcontrib-devhelp_1744727995579/work
sphinxcontrib-htmlhelp @ file:///croot/sphinxcontrib-htmlhelp_1744718370019/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///croot/sphinxcontrib-qthelp_1744721051257/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1744724097162/work
spyder @ file:///C:/miniconda3/conda-bld/spyder_1763761217806/work
spyder-kernels @ file:///C:/miniconda3/conda-bld/spyder-kernels_1764762114390/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067061065/work
streamlit==1.52.1
superqt @ file:///C:/miniconda3/conda-bld/superqt_1758274749038/work
tenacity==9.1.2
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///C:/b/abs_44khpg87dn/croot/textdistance_1751314517731/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tiktoken==0.12.0
tinycss2 @ file:///C:/miniconda3/conda-bld/tinycss2_1764949114861/work
toml==0.10.2
tomlkit @ file:///C:/miniconda3/conda-bld/tomlkit_1762896656295/work
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
tqdm==4.67.1
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typing-inspection==0.4.2
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
ujson @ file:///C:/miniconda3/conda-bld/ujson_1763119348761/work
uritemplate==4.2.0
urllib3 @ file:///C:/miniconda3/conda-bld/urllib3_1765399255893/work
uuid_utils==0.12.0
watchdog @ file:///C:/miniconda3/conda-bld/watchdog_1759775795953/work
wcwidth @ file:///C:/b/abs_0c8p4c33bp/croot/wcwidth_1750352902378/work
webencodings==0.5.1
websockets==15.0.1
whatthepatch @ file:///C:/miniconda3/conda-bld/whatthepatch_1758276665143/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278197/work
winloop @ file:///C:/miniconda3/conda-bld/winloop_1762178042828/work
xxhash==3.6.0
yapf @ file:///C:/miniconda3/conda-bld/yapf_1761560552744/work
yarl @ file:///C:/miniconda3/conda-bld/yarl_1762250163326/work
zipp @ file:///C:/miniconda3/conda-bld/zipp_1763977875991/work
zstandard==0.25.0
